opencv-python==4.8.0.76
numpy==1.24.4
cffi==1.15.1
Pillow==10.0.0
pip==23.2.1
attrs==23.1.0
wheel==0.38.4
setuptools==65.5.1
six==1.16.0
python-dateutil==2.8.2
matplotlib==3.7.2
contourpy==1.1.0
fonttools==4.42.1
mediapipe==0.8.6.2
pycparser==2.21
pyparsing==3.0.9
cycler==0.11.0
packaging==23.1
kiwisolver==1.4.5
zipp==3.16.2
dlib==19.24.2
click==8.1.7
imutils==0.5.4
ultralytics==8.0.188